# Setup

In [1]:
# Library import
import pandas as pd
import numpy as np

# Obtain airline dataset

In [2]:
# URL
url = 'https://data.gov.au/data/dataset/ad89b4ff-541a-4729-b93c-4d2f5682e4c8/resource/809c77d8-fd68-4a2c-806f-c63d64e69842/download/airline_portcountry.csv'

# Create dataframe from csv file at specified URL
df = pd.read_csv(url)
df

,Month,Airline,Port_Country,Passengers_In,Freight_In_(tonnes),Mail_In_(tonnes),Passengers_Out,Freight_Out_(tonnes),Mail_Out_(tonnes),Year,Month_num
0,31048,Air Caledonie,New Caledonia,725.0,0.368,0.000,474.0,0.167,0.000,1985,1
1,31048,Air China,China,1311.0,9.158,0.000,1232.0,2.587,0.000,1985,1
2,31048,Air India,India,1423.0,44.823,0.000,970.0,6.708,0.000,1985,1
3,31048,Air India,Singapore,501.0,10.583,0.000,306.0,124.966,0.000,1985,1
4,31048,Air Nauru,Nauru,161.0,0.212,0.000,96.0,23.996,0.000,1985,1
...,...,...,...,...,...,...,...,...,...,...,...
43292,44287,United Parcel Service,Korea,0.0,0.000,0.000,0.0,363.203,0.000,2021,4
43293,44287,United Parcel Service,Singapore,0.0,0.000,0.000,0.0,36.215,0.000,2021,4
43294,44287,United Parcel Service,USA,0.0,1736.977,0.000,0.0,0.000,0.000,2021,4
43295,44287,Vietnam Airlines,Vietnam,211.0,423.980,1.098,0.0,280.103,3.807,2021,4
43296,44287,Xiamen Airlines,China,341.0,189.800,4.200,748.0,137.510,0.000,2021,4

# 1.	How many passengers flew into and out of Australia for each airline in each month of 2019?

In [3]:
# Filter data for 2019
df2019 = df[(df['Year']==2019)]
df2019


# group data by Airline and Month, displaying the sum of Passengers_In and Passengers_Out
group = df2019.groupby(["Airline", "Month_num"])
dfQ1 = group.sum()[[("Passengers_In"),("Passengers_Out")]]
dfQ1

                                       Passengers_In  Passengers_Out
Airline                     Month_num
Air Caledonie International 1                 8291.0          7336.0
                            2                 3889.0          6148.0
                            3                 3957.0          4409.0
                            4                 4965.0          4911.0
                            5                 3996.0          3786.0
...                                              ...             ...
Xiamen Airlines             8                10019.0          9099.0
                            9                 8859.0          9187.0
                            10                9759.0          8367.0
                            11                9071.0          9041.0
                            12                9427.0         11512.0

[745 rows x 2 columns]

# 2.	In the last 6 months which port country was responsible for the most passengers coming into the country?

In [4]:
# Filter data for last 6 moths
df6Mo = df[(df['Month']>=441)]

# group data by Port country, calculating the sum of Passengers_In 
group = df6Mo.groupby(["Port_Country"])
dfQ2 = group.sum()

# Find the Airline with the maximum sum of Passengers_In

column = dfQ2["Passengers_In"]
max_index = column.idxmax()
max_value = column.max()

print("In the last 6 months, the port country responsible for the most passengers coming into the country is",max_index, "with", max_value, "Passengers")

In the last 6 months, the port country responsible for the most passengers coming into the country is New Zealand with 70909899.0 Passengers

# 3.	What is the 3 month rolling average of freight arriving to Australia for each airline throughout 2018?

In [5]:
# Filter data for 2018
df2018 = df[(df["Year"]==2018)]

# Group by Airline

grouped_dataframe = df2018.groupby("Airline")['Freight_In_(tonnes)']

# calculate 3 month rolling average for Freight_in for each airline
for Airline, data in grouped_dataframe:
    print ("The 3 month rolling average of freight arriving into Austalia on", Airline, "throughout 2018 is")
    print ("\n")
    print (data.rolling(window=3).mean()) 
    print ("\n")

The 3 month rolling average of freight arriving into Austalia on Air Caledonie International throughout 2018 is


39258         NaN
39371         NaN
39485    3.890667
39599    5.590667
39711    4.852667
39821    5.046333
39934    3.259333
40045    4.817000
40156    4.731667
40268    5.409333
40381    4.114000
40495    3.251000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air Canada throughout 2018 is


39259           NaN
39372           NaN
39486    282.287667
39600    322.548667
39712    386.133667
39822    448.378333
39935    442.017667
40046    443.863000
40157    382.505667
40269    372.247000
40382    339.497667
40496    351.597000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air China throughout 2018 is


39260           NaN
39373           NaN
39487    718.693000
39601    606.911000
39713    573.766333
39823    536.810667
39936    473.743667
40047    406.938000
40158    364.580333
40270    368.833000
40383    367.947000
40497    443.051000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air India throughout 2018 is


39261           NaN
39374           NaN
39488    161.226667
39602    152.769000
39714    131.286667
39824    116.590000
39937    121.351000
40048    130.167667
40159    153.756667
40271    189.632000
40384    224.040000
40498    216.580000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air Mauritius throughout 2018 is


39262          NaN
39375          NaN
39489    46.899333
39603    37.467333
39715    35.407333
39825    28.568000
39938    30.481333
40049    36.536667
40160    50.386667
40272    55.992000
40385    54.034333
40499    52.295667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air New Zealand throughout 2018 is


39263            NaN
39264            NaN
39376    1022.105000
39377    2021.601333
39490     999.628333
39491    2002.843000
39604    1003.338333
39605    1750.987333
39716     747.675667
39717    1504.331667
39826     756.682667
39827    1586.961667
39939     830.302667
39940    1756.710333
40050     926.475333
40051    1735.124667
40161     808.897667
40162    1552.743667
40273     744.094333
40274    1545.813333
40386     801.923000
40387    1573.554667
40500     771.651667
40501    1717.403000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air Niugini throughout 2018 is


39265          NaN
39378          NaN
39492    43.319000
39606    35.578667
39718    32.826333
39828    34.510667
39941    32.691333
40052    32.530667
40163    29.459000
40275    31.251333
40388    36.762000
40502    43.737333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Air Vanuatu throughout 2018 is


39266         NaN
39379         NaN
39493    3.692333
39607    4.560667
39719    4.920333
39829    4.196333
39942    3.347667
40053    2.996333
40164    3.165333
40276    3.978000
40389    4.749667
40503    4.090000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on AirAsia X throughout 2018 is


39267           NaN
39268           NaN
39380    478.342667
39381    194.053000
39494    502.983333
39495    325.316000
39608    687.724000
39609    414.487333
39720    777.019000
39721    470.221333
39830    835.160333
39831    494.097333
39943    774.464000
39944    407.043333
40054    800.396000
40055    464.266667
40165    827.298667
40166    396.244000
40277    752.557000
40278    361.333333
40390    802.566000
40391    446.989000
40504    789.118667
40505    347.886000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on All Nippon Airways throughout 2018 is


39269           NaN
39382           NaN
39496    298.145000
39610    298.074333
39722    309.437000
39832    360.780667
39945    384.431000
40056    442.041333
40167    457.119333
40279    462.027667
40392    448.200333
40506    441.164000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on American Airlines throughout 2018 is


39270          NaN
39383          NaN
39497     7.293333
39611    13.384667
39723    30.472333
39833    37.077667
39946    29.304333
40057    64.275667
40168    71.139000
40280    72.207333
40393    19.832667
40507     5.206000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Asiana Airlines throughout 2018 is


39271           NaN
39384           NaN
39498    193.948333
39612    201.079333
39724    202.880333
39834    187.235333
39947    178.023667
40058    166.110000
40169    169.998667
40281    164.677333
40394    176.040333
40508    163.256667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Batik Air Indonesia throughout 2018 is


39272    NaN
39385    NaN
39499    0.0
39613    0.0
39725    0.0
39835    0.0
39948    0.0
40059    0.0
40170    0.0
40282    0.0
40395    0.0
40509    0.0
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Beijing Capital Airlines throughout 2018 is


39273           NaN
39386           NaN
39500    216.309667
39614    184.599667
39726    218.974000
39836    183.833000
39949    187.136333
40060    165.549667
40171    194.681333
40283    205.148667
40396    235.323000
40510    233.271333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on British Airways throughout 2018 is


39274           NaN
39275           NaN
39387    120.015000
39388    234.379333
39501    117.642333
39502    245.285667
39615    132.727000
39616    261.689667
39727    141.501000
39728    274.128333
39837    150.240667
39838    274.424000
39950    143.215000
39951    252.775333
40061    123.788333
40062    245.388333
40172    135.073333
40173    261.847667
40284    140.633000
40285    276.153000
40397    147.746333
40398    279.141333
40511    141.149333
40512    255.410000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Cathay Pacific Airways throughout 2018 is


39276            NaN
39389            NaN
39503    3011.965000
39617    3066.836667
39729    3191.481667
39839    3359.399333
39952    3566.906667
40063    3705.222333
40174    3593.501000
40286    3553.739667
40399    3426.005667
40513    3471.317000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Cebu Pacific Air throughout 2018 is


39277           NaN
39390           NaN
39504    237.730333
39618    215.753667
39730    209.551333
39840    205.459333
39953    210.812333
40064    235.047667
40175    286.293333
40287    339.534333
40400    333.151333
40514    301.137000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on China Airlines throughout 2018 is


39278           NaN
39279           NaN
39391    173.568667
39392    243.221667
39505    203.957000
39506    283.616667
39619    205.933667
39620    305.117667
39731    199.423667
39732    327.776667
39841    230.242000
39842    407.697333
39954    264.464667
39955    406.130333
40065    209.729667
40066    361.852000
40176    193.475333
40177    376.677000
40288    230.610333
40289    401.889000
40401    222.316667
40402    347.283667
40515    233.384667
40516    378.931000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on China Eastern Airlines throughout 2018 is


39280           NaN
39393           NaN
39507    784.464000
39621    789.170333
39733    772.050000
39843    681.474333
39956    664.024000
40067    656.464667
40178    712.435000
40290    754.932333
40403    822.623667
40517    777.154333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on China Southern Airlines throughout 2018 is


39281            NaN
39394            NaN
39508    1255.579000
39622    1452.566667
39734    1564.733333
39844    1688.283000
39957    1780.499000
40068    2092.328333
40179    2003.109667
40291    1734.680000
40404    1561.062333
40518    1579.841000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Delta Air Lines throughout 2018 is


39282           NaN
39395           NaN
39509    233.460667
39623    262.781000
39735    271.589667
39845    291.166667
39958    337.183000
40069    379.318000
40180    366.556333
40292    327.550333
40405    262.445333
40519    239.401000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Donghai Airlines throughout 2018 is


39736         NaN
39846         NaN
39959    1.117667
40070    3.232333
40181    3.996000
40293    2.878333
40406    2.954333
40520    2.865333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Emirates throughout 2018 is


39283            NaN
39284            NaN
39285     297.100667
39286     297.112333
39287     895.776000
39396     883.502000
39397    1179.427333
39398     306.534000
39399     306.580333
39400    1048.492333
39510    1037.895333
39511    1254.628667
39512     229.551333
39513     229.551333
39514    1105.887333
39624    1093.115667
39625    1187.608333
39626     105.937333
39627     105.937333
39628    1024.915333
39737    1013.470667
39738    1102.047333
39739     104.193667
39740     104.221000
39741    1061.204667
39847    1045.587667
39848    1156.781000
39849     128.134000
39850     128.135000
39851    1143.671000
39960    1126.757667
39961    1236.663333
39962     125.725000
39963     125.963333
39964    1301.705333
40071    1285.887000
40072    1432.393333
40073     162.303000
40074     162.462667
40075    1182.071000
40182    1166.512667
40183    1285.826667
40184     134.425333
40185     134.437667
40186    1157.511333
40294    1142.559667
40295    1284.345667
40296     145.779667
40297     145.779667
40298    1253.690667
40407    1249.709333
40408    1330.653667
40409      80.944333
40410      80.944333
40411    1314.586667
40521    1314.586667
40522    1390.523667
40523      77.991333
40524      77.991333
40525    1244.547333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Etihad Airways throughout 2018 is


39288            NaN
39401            NaN
39515    1025.853000
39629    1189.600000
39742    1370.558000
39852    1425.354667
39965    1259.809333
40076    1074.655000
40187     911.733000
40299     910.139000
40412     953.526667
40526     917.062667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Eva Air throughout 2018 is


39289           NaN
39402           NaN
39516    124.641333
39630    132.632000
39743    132.965333
39853    152.011000
39966    176.866000
40077    197.186333
40188    199.338667
40300    180.571000
40413    187.381667
40527    198.111000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Federal Express Corporation throughout 2018 is


39290           NaN
39291           NaN
39403    321.092333
39404    671.853000
39517    350.760667
39518    738.965000
39631    388.204333
39632    760.277333
39744    372.073000
39745    746.213000
39854    374.140000
39855    752.681333
39967    378.541333
39968    773.362000
40078    394.820667
40079    788.359000
40189    393.538333
40190    786.396333
40301    392.858000
40302    800.476667
40414    407.618667
40415    573.647667
40416    537.759000
40528    537.759000
40529    601.872333
40530    634.601333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Fiji Airways throughout 2018 is


39292           NaN
39405           NaN
39519    287.216333
39633    265.866667
39746    270.640333
39856    288.958000
39969    341.518667
40080    398.736000
40191    377.388000
40303    352.263667
40417    301.162000
40531    297.703667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Garuda Indonesia throughout 2018 is


39293           NaN
39406           NaN
39520    595.577000
39634    667.672667
39747    688.326333
39857    692.401667
39970    625.508000
40081    550.026333
40192    502.492333
40304    606.902000
40418    762.906000
40532    833.027000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Hainan Airlines throughout 2018 is


39294           NaN
39407           NaN
39521    312.384000
39635    387.987000
39748    476.296000
39858    513.373333
39971    484.871000
40082    458.189333
40193    447.582667
40305    465.669667
40419    487.098000
40533    491.354667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Hawaiian Airlines throughout 2018 is


39295           NaN
39408           NaN
39522    160.981000
39636    159.046000
39749    161.576000
39859    154.452667
39972    157.674667
40083    167.696333
40194    177.358333
40306    183.306000
40420    177.694667
40534    171.694667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Hong Kong Airlines throughout 2018 is


39296           NaN
39409           NaN
39523    216.926000
39637    186.983667
39750    193.696333
39860    174.696000
39973    170.059000
40084    147.597667
40195    140.856000
40307    130.339333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Indonesia AirAsia throughout 2018 is


39297          NaN
39410          NaN
39524    28.928333
39638    29.943000
39751    29.315333
39861    23.454000
39974    26.385667
40085    23.957000
40196    24.323667
40308    18.927667
40421    15.215667
40535    10.679333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Japan Airlines throughout 2018 is


39298           NaN
39411           NaN
39525    275.960667
39639    298.090333
39752    357.124667
39862    379.685667
39975    444.597667
40086    471.305333
40197    452.086000
40309    433.356667
40422    371.149333
40536    368.054333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Jetstar throughout 2018 is


39299           NaN
39300           NaN
39301     71.154667
39302    100.581667
39303    101.505333
            ...
40540    194.881000
40541     58.246333
40542    123.119333
40543    152.230333
40544    196.846000
Name: Freight_In_(tonnes), Length: 107, dtype: float64


The 3 month rolling average of freight arriving into Austalia on Jetstar Asia throughout 2018 is


39308         NaN
39421         NaN
39535    7.909667
39649    8.091333
39762    8.688667
39872    8.586667
39985    6.938667
40096    7.321000
40207    8.088333
40319    9.333667
40432    9.867000
40545    9.543333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Jin Air throughout 2018 is


39309   NaN
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Korean Air throughout 2018 is


39310           NaN
39422           NaN
39536    226.085000
39650    214.873667
39763    213.869667
39873    194.898333
39986    203.956000
40097    184.950333
40208    185.928000
40320    178.444667
40433    186.352333
40546    185.048667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on LATAM Airlines throughout 2018 is


39311           NaN
39312           NaN
39423    159.562667
39424     91.232667
39537    148.008667
39538    106.004000
39651    136.721000
39652     74.319333
39764    124.759000
39765     93.348333
39874    125.352333
39875     74.694667
39987    111.246333
39988     82.387667
40098    144.505667
40099    104.968333
40209    137.774333
40210     71.570333
40321    127.173000
40322     91.144000
40434    153.217667
40435     95.359667
40547    155.702000
40548     92.739333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Malaysia Airlines throughout 2018 is


39313            NaN
39425            NaN
39539    1455.101333
39653    1631.535333
39766    1758.210667
39876    1784.584333
39989    1874.517667
40100    1950.175000
40211    2004.310333
40323    2069.536333
40436    2092.232667
40549    1961.960667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Malindo Air throughout 2018 is


39314             NaN
39315             NaN
39426    8.733333e-01
39427    1.673333e+00
39540    8.000000e-01
39541    2.086000e+00
39654    1.352667e+00
39655    2.476000e+00
39767    1.190000e+00
39768    1.790000e+00
39877    7.416667e-01
39878    2.071667e+00
39990    1.405000e+00
39991    2.896667e+00
40101    2.086333e+00
40102    3.669667e+00
40212    3.075667e+00
40213    3.995000e+00
40324    2.411667e+00
40325    1.439000e+00
40437    2.960595e-16
40438    2.960595e-16
40550    2.960595e-16
40551    2.960595e-16
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Nauru Airlines throughout 2018 is


39316          NaN
39428          NaN
39542     2.749333
39656     2.949333
39769     3.379667
39879     4.558667
39992     3.525000
40103     4.702667
40214     3.886000
40326     4.540333
40439     3.708000
40552    12.284333
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Pacific Air Express throughout 2018 is


39317          NaN
39318          NaN
39429     0.612667
39430     0.612667
39543     6.113333
39544     5.567333
39657    10.938333
39658     6.010333
39770     6.585667
39771     1.374000
39880     2.424333
39881     2.011000
39993     2.279333
39994     1.653667
40104     1.567667
40105     1.140000
40215     0.980333
40216     0.862667
40327     0.862667
40328     0.025000
40440     0.302667
40441     0.302667
40553     0.543000
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Philippine Airlines throughout 2018 is


39319           NaN
39431           NaN
39545    191.629333
39659    233.859000
39772    245.183000
39882    270.629667
39995    269.305333
40106    248.865333
40217    189.877333
40329    147.282000
40442    122.795333
40554    116.230667
Name: Freight_In_(tonnes), dtype: float64


The 3 month rolling average of freight arriving into Austalia on Polar Air Cargo throughout 2018 is


39320           NaN
39321           NaN
39322    124.836000
39323    203.957667
39432     79.121667
39433    189.065000
39434    109.943333
39435    109.943333
39436    111.605000
39546    111.605000
39547    243.565333
39548    131.960333
39549    264.775667
39660    132.815333
39661    258.246000
39662    260.160000
39773    260.160000
39774    295.066000
39775    279.445667
39883    279.445667
39884    261.284000
39885    273.128333
39996    273.128333
39997    266.379000
39998    278.886000
40107    278.886000
40108    293.050333
40109    252.622000
40218    252.622000
40219    211.284333
40220    108.252333
40221    245.043667
40330    136.791333
40331    275.530333
40332    138.739000
40333    266.176667
40443    127.437667
40444    127.437667
40445    149.170000
40446    149.170000
40447    253.767333